body{
  width: 100%;
  height: 1000px;
  background: #5b95de;
  color: #fff;
}

#intro-icon{
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: red;
}

#intro-description{
  p, h1{
    text-align: center;
  }
  
  p{
    font-size: 20px;
  }
}

#name{
  font-size: 29px;
}


.intro-div{
  margin: 30px auto;
  h3{
    text-align: center;
  }
  ul{
    font-size: 22px;
    li{
        margin-bottom: 14px;
      a{
        color: #D1DFEF;
        text-decoration: none;
      }
      a:hover{
        color: #154986;
      }
    }
  }
  span{
    font-size: 15px;
  }
}

.clearfix:after{
  content:"."; 
  display:block;   
  height:0; 
  visibility:hidden;   
  clear:both; 
}