body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.content{
	padding: 50px 100px;
}
.content h2{
	margin: 0 0 20px;
	padding: 0px;
	font-size: 30px;
}

.content p{
	font-size: 18px;
}

.sidebar-contact{
	position: fixed;
	top:50%;
	left:-350px;
	width: 350px;
	transform: translateY(-50%);
	height: auto;
	padding: 40px;
	background: #fff;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	box-sizing: border-box; 
	transition: .5s;
}

.sidebar-contact input,
.sidebar-contact textarea

{
	width: 100%;
	height: 36px;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.5);
	outline: none;

}

.sidebar-contact textarea{
	height: 60px;
	resize: none;
}
.sidebar-contact input[type="submit"]{
	background: #00bcd4;
	color: #fff;
	border:none;
	font-style: 18px;
	cursor: pointer;
}

.sidebar-contact.active{
	left: 0px;
}

.sidebar-contact h2{
	margin: 0 0 20px;
	padding: 0;
}

.toggle{
	position: fixed;
	top: 0;
	right: -48px;
	height: 48px;
	line-height: 48px;
	width: 48px;
	text-align: center;
	cursor: pointer;
	background:#f00;
}
.toggle:before {
		content: '\f003';
		font-family: fontAwesome;
		color: #fff;
		font-size: 18px;
}

.toggle.active:before {
		content: '\f00d';