$defalutColor: #ccc;
$shallowColor: #ededed;
$activeColor: #ff4700;
$boxWidth: 36px;

body{
  font-family: "Helvetica Neue", Helvetica,
  Microsoft Yahei, Hiragino Sans GB,
  WenQuanYi Micro Hei, sans-serif;
}

.main{
  width: 80%;
  margin: 0 auto;
}

.logo{
  margin: 20px 0 30px 0;
}

.logo img{
  width: 150px;
  float: left;
  margin: -10px 5px 0 0;
}

.logo h1{
  margin: 0;
}

.nav{
  border-bottom: 2px solid $defalutColor;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

ul{
  width: 80%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
}

ul li{
  flex: 1;
  list-style: none;
  text-align: center;
  margin-bottom: -2px;
  padding: 2px 0;
}

ul li[class="active"]{
  border-bottom: 2px solid $activeColor;
  color: #ff4700;
}

li i{
  color: #fff;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url(../images/ico-circle2.png) no-repeat 0 0;
}

li[class="active"] i{
  background: url(../images/ico-circle1.png) no-repeat 0 0;
}

.form-group{
  width: 800px;
  margin: 60px auto;
}

#show-email{
  display: none;
}

.form-item{
  padding: 10px 0 18px 0;
}

.form-item p{
  display: inline-block;
}

.form-item > span{
  margin-right: 20px;
  text-align: right;
  width: 200px;
  display: inline-block;
}

.form-item > div{
  display: inline-block;
}

.areaNumber{
  border: 1px solid $defalutColor;
  float: left;
  font-weight: bold;
}

.areaNumber p:first-child{
  margin: 6px 22px 6px 8px;
}

.areaNumber p:nth-child(2){
  margin: 6px 8px 6px 22px;
}

#phoneNumber{
  border: 1px solid $defalutColor;
  margin-left: -6px;
  height: 34px;
  line-height: 2;
}

#email{
  border: 1px solid $defalutColor;
  width: 240px;
  height: 34px;
  line-height: 2;
}

.hint{
  color: #c9302c;
  font-size: 14px;
  display: inline-block;
  display: none;
  font-weight: bold;
}

.slide-main{
  position: relative;
}

.slide-box{
  float: left;
  width: $boxWidth;
  height: $boxWidth;
  line-height: $boxWidth;
  padding: 0px 6px;
  border: 1px solid $defalutColor;
  text-align: center;
  background-color: white;
  color: #9c9c9c;
  position: absolute;
  left: 0;
  cursor: move;
  z-index: 3;
}

.slide-area{
  width: 320px;
  height: $boxWidth;
  line-height: $boxWidth;
  background-color: $shallowColor;
  border: 1px solid $shallowColor;
  text-align: center;
  cursor: default;
}

#boxhint{
  position: absolute;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  color: #9c9c9c;
  line-height: $boxWidth;
  margin-left: 24%;
}

.slide-show{
  float: left;
  width: 0px;
  height: $boxWidth;
  background-color: #7ac23c;
  position: absolute;
  z-index: 1;
}

.show-picture{
  float: left;
  position: absolute;
  display: none;
  width: 320px;
  height: 280px;
  border: 1px solid $defalutColor;
  z-index: 1;
  background-color: #fff;
}

.show-picture > div{
  height: 25px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 5px;
}
.show-picture > img{
  width: 230px;
  height: 230px;
  margin: 10px 0px 0px 30px;
}
.show-picture > div > img{
  float: right;
}

.form-submit{
  padding: 20px 0px 10px 223px;
}

#submit{
  height: 38px;
  width: 200px;
  font-weight: bold;
  display: block;
  background-color: $shallowColor;
  border: 1px solid $shallowColor;
  color: #9c9c9c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
}

#submit:hover{
  color: #fff;
  opacity: 1;
}

.form-submit > span{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: $activeColor;
  cursor: pointer;
  margin-top: 20px;
}
