
@font-face {font-family: "iconfont";
  src: url('../src/fonts/iconfont.eot'); /* IE9*/
  src: url('../src/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../src/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../src/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../src/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobaowanglogo:before { content: "\35b8"; }
.icon-daohangcaidan:before { content: "\e6c0"; }
.icon-duihao:before { content: "\e60a"; }
.icon-mail:before { content: "\e60e"; }
.icon-unie63c:before { content: "\e61b"; }
.icon-taobaologo:before { content: "\e603"; }
.icon-iconfontshoucangjia:before { content: "\e600"; }
.icon-jiantouaxia:before { content: "\e62b"; }
.icon-xiajiantou:before { content: "\e6eb"; }
.icon-err:before { content: "\e605"; }
