// 导航
.header {
	font-size: 12px;
	background-color: #F5F5F5;
	border: 1px solid #eeeeee;
	.nav {
		
		ul {
			height: 35px;
			
			li {
				padding: 0 6px;
				line-height: 35px;
				
				// 高亮显示
				.hl{
					color: #F22E00;
					padding-right: 6px;

				}
				span {
					padding-left: 3px;
				}
			}
			// 高亮图标
			.icon span {
				color: #F22E00;
			}
			.sp {
				color: #ddd;
			}
			
		}

	}
	
}