*{
	margin: 0px;
	padding: 0px;
}
.header_logo {
	width: 250px;
	height: 65px;
	position: relative;
	left: 160px;

}
.header_logo img {
	float: left;

}
.header_logo p {
	font-size: 23px;
	font-weight: bold;
	padding: 15px 5px;
}
#header_process {
	width: 1200px;
	border-bottom: 1px solid rgb(230,230,230);
	text-align: center;
	margin:0 auto;
}
#header_process #steps{
	display: inline-block;
}
#header_process #steps ul li{
	list-style-type: none;
	display: inline-block;
	font:bold 16px "Microsoft YaHei", Verdana, Geneva, sans-serif ;
	padding: 13px 25px;
}
#header_process #steps ul .onStep span {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	background-color: rgb(255,64,0);
	border:2px solid rgb(255,64,0);
	border-radius: 25px;
	color: #ffffff;
}
#header_process #steps ul .outStep span {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	background-color: rgb(204,204,204);
	border:2px solid rgb(204,204,204);
	border-radius: 25px;
	color: #ffffff;
}
#header_process #steps ul .onStep {
	border-bottom:2px solid rgb(255,65,2);
}
#header_process #steps ul .outStep {
	color: rgb(204,204,204);
}
#header_process #languages {
	float: right;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
}
#header_process #languages a:hover{
	text-decoration: underline;
	color: rgb(255,64,0);
	border: 1px solid black;
	padding: 3px;
} 
#header_process #languages a{
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 3px;
} 
#content {
	margin: 80px 31%;
}
#content form label {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
}
#content form #slide {
	display: inline-block;
	margin: 0px;
	padding: 0px;

}
#content #selector {
	margin-top: -181px;
	z-index: 10;
	position: relative;
}
#content #selector select{
	display: none;
	position: relative;
	left: 65px;
	width: 160px;
	font-size: 16px;

}
#content #selector select .selected {
	background-color: rgb(255,63,0);
}
#content form #slideDown {
	width: 160px;
	height: 33px;
	border: 1px solid rgb(204,204,204);
	display: inline-block;
}
#content form #slideDown p{
	line-height: 33px;
	font-weight: bold;
	font-size: 10px;
	position: relative;
	left: 5px;
	
}
#content form  #alert {
	font-size: 2px;
	color: red;
	display: inline-block;
	position: relative;
	top: -13px;
	left: 5px;
	display: none;
}
#content form  input{
	color: black;
	border-color: rgb(220,220,220);
	vertical-align: top;
	height: 33px;
	width: 160px;
	margin-left: -8px;
}
#content #confirmation #prove{
	width: 240px;
	height: 30px;
	color: rgb(156,156,156);
	border: 1px solid rgb(220,220,220);
	display: inline-block;
	background-color: rgb(232,232,232);
	position: relative;

}
#content #confirmation #prove #div1{
	height: 32px;
	width: 0px;
	display: inline-block;
	background-color: rgb(122,194,0);
	position: absolute;
	z-index: 1;
	float: left;
}
#content #confirmation #prove img{
	position: absolute;
	float: left;
	z-index: 3;
	left: 0px;
}
#content #confirmation #prove #div2{	
	z-index: 2;
	position: absolute;
	font-size: 8px;
	text-align: center;
	margin-left: 50px;
	line-height: 32px;
}

#content #confirmation p{
	display: inline-block;
	vertical-align: top;
	margin-left: 18px;
	margin-right: 9px;
	padding-top: 5px;
}
#content #confirmPic {
	display: none;
}
#content #confirmPic img{
	width: 150px;
	height: 200px;
	position: absolute;
	z-index: 8;
	left: 570px;
	top: 298px;
}
#content #nextStep {
	width: 150px;
	height: 33px;
	background-color: rgb(232,232,232);
	position: relative;
	left: 65px;
}
#content #nextStep  p{
	padding: 8px 35px;
	color: rgb(153,153,153);
}

#content #emailReg a{
 	text-decoration: none;
 	font-size: 8px;
 	color: rgb(255,91,32);
 	position: relative;
	left: 65px;
}
.row{
	margin-top: 30px;
}
