.page {
	width: 1190px;
    margin: 0 auto;
    color: #3c3c3c;
    font: 400 12px/1.6 arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.header {
	position: relative;
    height: 43px;
    padding: 20px 0;
}

.header .logo div{
	display: inline;
}
.header .logo h1{
	display: inline;
	position: relative;
	top: -30px;
}

.steps {
	height: 46px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
}

.steps ol {
	list-style: none;
	width: 720px;
    margin: 0 auto;
}

.steps ol li {
	display: inline;
	width: 150px;
    padding-left: 30px;
    height: 46px;
    color: #999;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
}

.steps ol li i{
	display: inline-block;
    zoom: 1;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
}

.steps ol li.active {
	color: #3e3e3e;
    border-bottom: 2px solid #ff4700;
    padding-bottom: 12px;
}

.content {
	padding: 50px 0 10px 360px;
}

.content .form_group {
	padding: 10px 0;
	font-size: 14px;
}

.content .form_group .form_item {
	padding: 10px 0 10px;
    line-height: 36px;
    zoom: 1;
}

.itemLabel {
	margin-right: 30px;
	display: inline;
    float: left;
    margin-left: -200px;
    width: 240px;
    height: 37px;
    line-height: 37px;
    text-align: right;
}
.content .form_group .form_item div {
	display: inline;
}

.content .form_group .form_item select {
	width: 130px;
	height: 40px;
	border: 1px solid #dedede;
}

.content .form_group .form_item input {
	width: 150px;
	height: 35px;
	border: 1px solid #dedede;
}
.content .form_group .form_item #mobileWrong {
	color: red;
	display: none;
}

.content .form_group .form_item .verify{

}

.content .form_group .form_item .verify{
	display: inline-block;
    position: relative;
    width: 300px;
    height: 34px;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;	
    border: 1px solid #dedede;
}
.content .form_group .form_item .verify #slide_bg{
	position: absolute;
    background: #7ac23c;
    height: 100%;
}

.content .form_group .form_item .verify #slide_box {
	width: 40px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    position: absolute;
    cursor: move;
    background-color: #fff;
    z-index: 2;
    text-align: center;
    color: #9c9c9c;
}

.content .form_group .form_item .verify #text_content {
	width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    color: #9c9c9c;
    line-height: 34px;
    font-size: 12px;
    cursor: pointer;
}

.content .form_group .form_item .verify #text_content #slide_tip {
	width: auto;
    height: auto;
    border: none;
    z-index: 0;
    display: inline;
    background: 0 0;
    position: static;
}
