body {
	margin: auto;
	padding: auto;
	font-family: arial;
	text-align: center;
}
div {
	margin: 10px;
	padding: 10px;
}
#logo {
	text-align: left;
	margin-left: 100px;
}

#logo a {
}
#logo h2 {
    vertical-align: middle;
}
#logo img {
	width: 100px;
	height: 50px;
	vertical-align: middle;
}

#step ol{
	text-align: center;
	font-size: 1.5em;

}

#step ol li {
	display: inline-block;
	width: 200px;
}

#phoneWrong {
	color: red;
	display: none;
}

#verifyImg {
	margin: 0;
	padding-top: 3;
}

#login {
	margin-left: 450px;
	text-align: left;
}

#showleft {
	display: inline;
	width: 0;
}

#showbox {
	display: inline;
}