* {	
	padding: 0;
	margin: 0;
	border: none;
}
body { font-family: "MicroSoft Yahei", Helvetica,Arial,sans-serif;}

.project-wrap {
	width: 980px;
	margin: 10px auto;
	padding: 10px;
	background: #f0ffff;
	text-align: center;
}
.grid-input {
	height: 30px;
	background: #FFFAFA;
	color: #999;
	text-indent: 12px;
	outline: none;
}
.grid-submit {
	height: 30px;
	width: 80px;
	background: #fbbd9e;
	color: #fff;
	cursor: pointer;
	outline: none;

}
.grid-wrap {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	margin: 10px auto;
}
.grid {
	display: -webkit-flex;
	flex: 1 1 auto;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 2px;
	background: #c1f3f3;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.grid-tips {
	height: 14px;
	padding: 10px;
	color: #FF6A6A;
}
