<!DOCTYPE HTML>
<html>
  <head>
    <title>前学僧</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><a href="http://qianxueseng.com">前学僧</a></h1>
    <p>这是 做项目，学前端的前学僧 的leancloud示例应用</p>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
