@charset "utf-8";
/**
 * Base style
 */
@import "reset.css";

body {
    font-family: "Microsoft Yahei", "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-color: #f7f7f7;
    color: #676767;
}

.wrapper {
    width: 100%;
    display: flex;
    /*垂直居中*/
    align-content: center;
    justify-content: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    transition: opacity .3s;
}

a:hover,
a:active {
    opacity: .9;
}

.grid-wrapper {
    width: 700px;
    align-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
}

/**
  * Grid generator style
  */

.grid-generate {
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
    background: #5e91e3;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input {
    width: 80px;
    padding: 8px 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    color: #676767;
}

a.generate-btn {
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    background: #ed4a5e;
}

/**
  * Grid content style
  */
.grid-main {
    width: 680px;
    height: 680px;
    padding: 10px;
    font-size: 19px;
}

.grid-list {
    width: 680px;
    display: flex;
}

.grid-list li {
    flex: 1;
    margin: 8px;
    background: #ed4a5e;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    /*垂直居中*/
    align-content: center;
    justify-content: center;
}

.grid-list li:hover {
    opacity: .8;
    transform: scale(1.2);
}

/*绘制不定宽度正方形*/
.grid-list li:after {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: middle;
}
