<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>301-backbone</title>
    <link rel="stylesheet" href="./dist/css/main.min.css" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="input-n">
        <input type="text" id="n-size" value="" placeholder="请输入n的值">
        <button value="submit" id="n-submit">submit</button>
      </div>
      <div class="message">
        <h3></h3>
      </div>
      <div class="main">
      </div>
    </div>

    <script type="text/template" id="grids">
      <% for(var i = 0; i < n; i++) { %>
      <ul>
        <% for(var j = 0; j < n; j++) { %>
          <li id="<%= i * n + j + 1 %>"><%= i * n + j + 1 %></li>
        <% }; %>
      </ul>
      <% }; %>
    </script>
    <script src="./dist/js/jquery.min.js"></script>
    <script src="./dist/js/underscore-min.js"></script>
    <script src="./dist/js/backbone-min.js"></script>
    <script src="./dist/js/main.min.js"></script>
  </body>
</html>
