$normalFont: 12px/1.5 arial, sans-serif;

$baseFontSize: 12px;

@mixin boxShadow($h, $v, $b, $c) {
	 -webkit-box-shadow: $h $v $b $c;
		-moz-box-shadow: $h $v $b $c;
		 -ms-box-shadow: $h $v $b $c;
		  -o-box-shadow: $h $v $b $c;
			 box-shadow: $h $v $b $c;
}
body {
	font: $normalFont;
}

h3 {
	font-size: 24px;
	font-weight: 700;
}
a:hover {
		text-decoration: none;
	
}

#warped {
	min-width: 650px;
	margin: 0 auto;

}

.item {
	width: 600px;
	margin: 10px auto;

	text-indent:20px;
	text-align: center;
	font-size:  14px;
	
	img {
		display: block;

		width: 100%;
		height: 400px;
		padding: 10px 0;
	}
	p {
		margin-bottom: 10px;
		height: 60px;

		text-align: left;
		font-size: $baseFontSize;
	}
	
}
.btn-area {
	margin-top: 20px;
}

.btn {
	display: inline-block;
	
	padding: 10px;
	width: 40%;
	border: 2px solid #999;
	border-radius: 5px;

	font-size: $baseFontSize+2;

	@include boxShadow(1px, 1px, 1px, blue);
	background: #ccc;

	&:active {
		@include boxShadow(0px, 0px, 0px, blue);
	}
}

.btn-alone {
	width: 80%;
}