* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Tahoma, Arial, STXihei, 'Microsoft YaHei', '微软雅黑', SimSun, '宋体', Heiti, '黑体', sans-serif;

    color: #fff;
    background: #25a8e0;
}

.container {
    width: 800px;
    margin: 0 auto;

    text-align: center;
}

#particles-after-filter {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#particles {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#title {
    font-size: 70px;
    /*position: relative;*/

    margin-top: 10px;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

#title .iconfont {
    font-size: .95em;

    position: relative;
    top: -4px;
    /*left: 20px;*/
}

#description {
    font-size: 16px;
    line-height: 16px;

    width: 100%;
    margin-top: 20px;

    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
}

#social-link {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.social-link-cell {
    font-size: 60px;

    position: relative;

    float: left;

    width: 33.3333%;

    text-align: center;

    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.hiden-caption {
    font-size: 18px;
    top: 0;
    left: 0;

    position: absolute;
    z-index: 10;

    width: 100%;

    transition: opacity 350ms, transform 350ms;

    opacity: 0;
}

.hover-animation > .inner-cell::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: opacity 650ms, transform 350ms;
    -moz-transition: opacity 650ms, transform 350ms;
    -ms-transition: opacity 650ms, transform 350ms;
    -o-transition: opacity 650ms, transform 350ms;
    transition: opacity 650ms, transform 350ms;

    transform: scale(0);
    opacity: 0;

    border-radius: 5px;
    background: #000;
}

a {
    text-decoration: none;

    color: #fff;
}

.project-caption {
    font-size: 20px;

    clear: both;
}

#social-link .project-caption {
    margin-top: 20px;
}

#project-link .project-caption {
    margin-top: 110px;
}

.project-caption .iconfont {
    font-size: 11px;
    line-height: 20px;
}

.project-link-cell {
    float: left;
    position: relative;

    width: 33.33%;
    padding-top: 5px;

    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
}

#project-link .caption {
    line-height: 0;
}

/*--悬停动画部分--*/

#description:hover {
    -webkit-animation: pulse 700ms;
    -o-animation: pulse 700ms;
    animation: pulse 700ms;
}

.social-link-cell span {
    -webkit-transition: opacity 350ms;
    -moz-transition: opacity 350ms;
    -ms-transition: opacity 350ms;
    -o-transition: opacity 350ms;
    transition: opacity 350ms;
}

.hover-animation:hover .inner-cell::before {
    transform: scale(1);

    opacity: 0.5;
}

.hover-animation .inner-cell {
    transition: opacity 350ms, filter 3s;
}

.hover-animation:hover .inner-cell > img,
.hover-animation:hover .inner-cell,
.hover-animation:hover .inner-cell p.caption {
    opacity: 0.4;
}

.hover-animation:hover .hiden-caption {
    opacity: 1;
}

.hover-animation {
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.hover-animation:hover {
    transform: scale(1.08);

    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    box-shadow: 0 0 8px rgba(255, 255, 255, .2);
}

@media only screen and (max-width: 480px) {

    .container {
        padding: 1px;
        width: 96%;
    }

    .social-link-cell {
        width: 100%;
        margin-bottom: 10px;
    }

    .social-link-cell .hiden-caption {
        opacity: 1;
        position: static;
    }

    .project-link-cell {
        width: 100%;
        margin-bottom: 10px;
    }

    #project-link .caption {
        line-height: 20px;
        font-size: 18px;
    }

    #project-link::after {
        display: block;
        font-size: 10px;
        content: '@newraina';
        padding: 20px 0 20px 0;
        clear: both;
    }
}
